$alabaster: #fafafa;
$mercury: #e5e5e5;
$emperor: #4a4a4a;
$tundora: #404040;
$parsley: #15552a;
$cello: #1f4e64;
$clover: #3e4f16;
$sapphire: #31429a;
$stiletto: #842a39;
$eminence: #742981;
$honey-flower: #63236f;

$font: var(--font);
$bg-color: var(--bg-color);
$fg-color: var(--fg-color);
$text-color: var(--text-color);
$alt-text-color: var(--alt-text-color);
$highlight-color: var(--highlight-color);
$highlight-color-2: var(--highlight-color-2);
$highlight-color-3: var(--highlight-color-3);
$highlight-color-4: var(--highlight-color-4);
$italic-color: var(--italic-color);
$bold-color: var(--bold-color);
$bold-bold-color: var(--bold-bold-color);
